<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"  style="height: 100%">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="context-path" th:content="@{/}"/>
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%">
    请设置对比项
</div>
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script type="text/javascript" th:src="@{/style/js2/echarts-all-3.js}"></script>
<script type="text/javascript" th:src="@{/style/js2/ecStat.min.js}"></script>
<script type="text/javascript" th:src="@{/style/js2/dataTool.min.js}"></script>
<script type="text/javascript" th:src="@{/style/js2/china.js}"></script>
<script type="text/javascript" th:src="@{/style/js2/world.js}"></script>
<script type="text/javascript" th:src="@{/style/js2/bmap.min.js}"></script>
</body>
</html>